:root {
    --yellow: #f9d806;
    --light-yellow: #ffee80;
    --black: #000;
    --light-color: #262626;
    --border: 2px solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --white: #fff;
    --red:#ff0000;
    --lite-red:#b54769;
    --lite-gray:#ababab;
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 5px;    
}

::-webkit-scrollbar-thumb{   
background-color: var(--yellow);
}

::-webkit-scrollbar-thumb:hover{   
background-color: var(--light-yellow);
}

body{
    background-color: var(--black);
    color: var(--white);
    position: relative;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(./img/background.png);
    background-size: cover;
    background-position-y: 50px;
    background-repeat: no-repeat;   
    background-attachment:fixed;
}


#header .logo {
    font-size: 1.5rem;
    color: var(--white);
    font-weight: bolder;
}

#header .logo span {
    color: var(--yellow);
}

.container{
    padding: 10px 10%;   
}

nav{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    position: relative;
    font-size: 18px;
}

nav ul li a::after{
content: '';
height: 3px;
background-color: var(--red);  
width: 0;  
position: absolute;
bottom: -6px;
left: 0;
transition: 0.5s;
}

nav ul li a:hover::after{
width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size:60px;
    margin-top:20px
}

.header-text h1 span{
    color: var(--yellow);
}

/* -- ------------------ about ------------------ -- */

#about{
   padding: 80px 0; 
   color:var(--lite-gray);
}

 .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

 .about-col-1{
  flex-basis: 35%;
}

 .about-col-2{
  flex-basis: 60%;
}

 .about-col-1 img{
  background-color: var(--lite-gray);
  /* background-color: #272627; */
  width: 100%;
  border-radius: 15px;
}

.sub-title{
  font-size: 60px;
  color: white;
  font-weight: 600;
}

.tab-titles{
    display:flex;
    margin:20px 0 40px;
}

.tablinks{
    margin-right:50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position:relative;
}

.tablinks::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--red);
    position: absolute;
    left: 0;
    bottom:-8px;
    transition:0.5s;
}


.tablinks.active::after{   
    width: 50%;
    
}

.tab-contents {
    display: none;
}

.tab-contents.active {
    display: block;
}

.tab-contents ul li{
    list-style-type: none;
    margin:10px 0px;
    font-size: 15px;
}

.tab-contents ul li span{
    color:var(--lite-red);
    font-size: 14px;
}

.tab-contents ul li a{
   text-decoration:none;
   color: var(--white)
}


.projectLink{
    color:var(--lite-gray);
    text-decoration: underline;
}

#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin-top: 15px;
}

.services-list div{
   background-color:#262626;
   padding:25px;
   font-size:13px;
   font-weight:300;
   border-radius:10px;
   transition: background-color 0.5s, transform 0.5s;
}

.services-list div i{
    font-size:40px;
    margin-bottom:20px;
 }

 .services-list div h2{
    font-size:25px;
    font-weight:500;
    margin-bottom:15px;
 }


 .services-list div a{
    text-decoration:none;
    color:var(--white);
    font-size: 12px;
    margin-top:20px;
    display: inline-block;
 }


 .services-list div:hover{
    background-color:var(--lite-red);
    transform: translateY(-10px)
 }

 #portfolio{
    padding: 30px 0;
 }

 .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:40px;
    margin-top: 15px;
 }

 .work{
    border-radius:10px;
    position:relative;
    overflow:hidden;    
    
 }

 .work img{
    width: 100%;
    border-radius:10px;
    display: block;
    transition: transform 0.5s;
 }

 .work:hover img{
    transform: scale(1.2);
 } 

.layer {
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(#808080c4, #d51d56);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;    
    text-align: center;       
    transition: height 0.5s;
    overflow: hidden;
    padding: 0 20px;
    font-size: 14px;    
    align-items: center;
}



.work:hover .layer {
    height: 100%;
}

.layer a{
    background-color: var(--lite-red);
    background-color: var(--white);
    height: 60px;
    width: 60px;
    border-radius: 50%;   
}

.layer a {
    background-color: var(--lite-red);
    background-color: var(--white);
    height: 60px;
    width: 60px;
    border-radius: 50%;   
    text-align: center;
    line-height: 60px;
    font-size: 23px;
    margin-top: 10px;
}

.btn {
    display: block;
    width: fit-content;
    margin: 30px auto;
    border: 1px solid var(--lite-red);
    padding: 14px 50px;
    border-radius: 6px;
    color: var(--white); 
    transition: background-color 0.5s, transform .5s;
  
}

.btn:hover {
    background-color: var(--lite-red);  
    transform: translateY(-5px) 
}

.btn.btn2{
    display: inline-block;
    background-color: var(--lite-red);
}
    

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 20px;
}

.contact-left p i{
    color: var(--lite-red);
    margin-right: 10px;
    font-size:18px;
}

.social-icons{
    margin-top: 20px;
}

.social-icons a{
    color: var(--white);
    font-size:23px;
    margin-right: 7px;
    display:inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{   
    color: var(--lite-red);
    transform: translateY(-5px)
    
}

.contact-right form{
width: 100%;;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    /* background-color: #262626; */
    background-color: var(--light-color);
    color:var(--white);
    padding: 15px;
    margin: 10px 0px;
    font-size: 18px;
    border-radius:6px;
}

 form textarea{
    resize: none;
}

form .btn{
    resize: none;
    margin: 10px 0px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.copyright{
text-align: center;
padding: 15px 0;
background-color: var(--light-color);
/* font-weight: 600; */
margin-top: 10px;
font-size: 13px;
letter-spacing: 1px;
}

.copyright i{
    color: var(--red);
}

.copyright span{
 color: var(--yellow);
}

.go-top {
    width: 30px;
    height: 30px;
    color: black;
    background: #f9d806;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    border-radius: 4px;
    right: 20px;
    bottom: 60px;
    position: absolute;
    cursor: pointer;
}

#submitMessage {
    color: #1fbd1f;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
}


nav .btn-toggle{
    display:none;
    cursor: pointer;
}
/* ################## Media Query ############## */


@media only screen and (max-width: 600px) {
    #header {
        background-image: url(img/phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 17px;
    }

    .header-text h1{       
        font-size: 26px;
    }

    nav .btn-toggle{
        display:block;
        font-size: 25px;
    }

    nav ul{
        /* background-color: var(--red); */
        background-image: linear-gradient( #d51d56, #808080c4);        
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        padding: 50px;
        z-index: 1;
        transition: right 0.5s;
    }

    nav ul li{
       display: block;
       margin: 25px 0 0 0;
    }

    nav ul .btn-toggle{
        position: absolute;
        top: 25px;
     }

     .sub-title {
        font-size: 40px;        
    }

    .tab-titles {       
        margin: 20px 0 20px;
    }

    .tablinks {
        margin-right: 10px;   
        font-size: 15px;    
    }

    .contact-right {
        flex-basis: initial;
    }

    .contact-left {
        flex-basis: initial;
    }  

    .about-col-2 h1 + p{
        font-size: 13px;
    }

}


